@charset "utf-8";
/* CSS Document */

p{width:500px; margin:20px auto 25px;
	background-color:#FC0;}

/* 클래스 text01 첫줄 들여쓰기 100px*/
p.text01{
	text-indent: 100px;
}
/* 클래스 text02 첫줄 들여쓰기 -100px*/
p.text02{
	text-indent:-100px;
}
/* 클래스 text03 첫줄 들여쓰기 50%*/
p.text03{
	text-indent:50%;
}
span{
	text-indent:200px;
	background-color: pink;
	/* 성격 변경: display */
	display: block;
}
/* 콘텐츠 우주 보내기 방법 */
/* text-indent: 요소 자리 지키고 있다. */
div{
	background-color: green;
	text-indent: -999999px;
}