@charset "utf-8";
/* CSS Document */
p.align{width:300px;
		margin:20px auto 25px;
		background-color:#FC0;}


/*클래스 align01 왼쪽정렬 */
.align01{text-align: left;}
/*클래스 align02 오른쪽정렬 */
.align02{text-align: right;}
/*클래스 align03 중앙정렬 */
.align03{text-align: center;}
/*클래스 align04 양측정렬 */
.align04{text-align: justify;}
/*클래스 align05 이미지 */
.align05{text-align: center;}
/*클래스 align06 inline요소 */
/* span: 인라인 : 가로 크기: 콘텐츠 */
.align06{text-align: center;}
span{background-color: green;}

/* 요소의 성격 : display: */
ul{width:500px; background-color: pink; text-align:center;}
ul>li{display: inline;}




















