@charset "UTF-8";
/* CSS Document */
/* id 선택하기:아이디 set01 -> clor red */
#set01{
    color:red;
}

/* class선택하기 : 클래스drink -> color yellow */
.drink{
    color: yellow;
}

/* 다중클래스 선택하기  클래스 special -> color:green */
ul>li.special{
    color:green;
}
#box01>li{
    background-color: aliceblue;
}
#set02+ul{
    background-color:blue;
}
#set02~ul{
    border:3px solid red;
}

/* 자식요소 선택하기 아이디 set02의 자식ul -> 배경 pink*/

h1,h2{
    border:4px solid orange;
}
